{% extends ":templates:box-with-footer.html.twig" %}

{% block title %}{{ "user.profile.lost_password.title" | trans }}{% endblock %}
{% block box_title %}{{ "user.profile.lost_password.title" | trans }}{% endblock %}
{% block box_body_content %}
    <p>
        {{ 'user.resetpassword.check_email'|trans({'%email%': email}) }}
    </p>
{% endblock %}

