{% extends ":templates:box.html.twig" %}

{% block title %}{{ "layout.lost_password" | trans }}{% endblock %}
{% block box_title %}{{ "layout.lost_password" | trans }}{% endblock %}
{% block box_body_content %}
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock %}
