{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ "layout.lost_password" | trans }}</h3>
            <div class="box-tools pull-right">

            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->

        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div><!-- /.box -->

{% endblock fos_user_content %}
