{% extends "::empty.html.twig" %}
{% block body_classes %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('homepage') }}"><b>DAS</b> AR Ganshoren</a>
        </div>

        <div class="login-box-body">
            {% block box_body %}

            {% endblock %}
        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
