/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/media/cache
node_modules
test-output
.nyc_output
assets.json

# Temporary in order to be able to build assets on deploy
# **/bundle.*.js
# **/bundle.*.js.map
# **/bundle.*.css
# **/bundle.*.css.map
# **/shared.*.js
# **/shared.*.js.map
# **/bundle.js
# **/bundle.js.map
# **/bundle.css
# **/bundle.css.map
# **/shared.js
# **/shared.js.map
#
# # Fonts
# **/apps/**/*.ttf
# **/apps/**/*.woff2
# **/apps/**/*.woff
# **/apps/**/*.svg
# **/apps/**/*.eot
# **/apps/*.jpg
# **/apps/*.png
web/images
src/He8us
web/files

DEPLOYMENT_sheet.md

#Other projects related
adsdaq.dev
hins.dev
