label.required:after {
    content: " *";
}

label[for="fos_user_registration_form_profilePicture_profilePictureFile"],
label[for="fos_user_profile_form_profilePicture_profilePictureFile"]{
    display: none;
}

.profile-picture{}
.profile-picture .picture{
    text-align: center;
    padding: 10px 0;
}


.form-horizontal .form-group{
    margin-right:0;
    margin-left:0;
}

.wrapper{
    z-index: 1;
}
#feedback_wrapper_div.left{
    bottom: 45px;
    z-index: 7;
}


.dataTable .btn{
    margin-left: 10px;
}

.dataTable .btn:first-child{
    margin-left: 0;
}

.form-group{
    clear: both;
}

.box-actions form{
    display: inline-block;
}


.form-group .checkbox{
    display: inline-block;
    margin-right: 10px;
}


.fc .fc-toolbar,
.fc .fc-day-header{
    text-transform: capitalize;
}

